@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

@layer utilities {
  .grid-cols-auto-fill-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .bg-primary {
   background-color: #5f6FFF
  }
}



