@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

@layer utilities {
  .grid-cols-auto-fill-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .bg-primary {
   background-color: #5F6FFF
  }
  .hover\:bg-primary:hover {
    background-color: #5F6FFF;
  }
  .text-primary {
    color: #5F6FFF;
  }

  .border-primary {
    color: #5F6FFF;
  }
}

::-webkit-scrollbar{
  @apply hidden
}